*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --percent60: #fc1100;
  --percent30: #7d0800;
  --percent10: #095bb0;
  --fire: #ff2919;
  --grass: #00fc68;
  --water: #1989fc; 
}
